<div class="jumbotron text-center">
    <h2>Home</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sign up for free and get basic access to the community</h4>
            <br/>
            <%= link_to "Sign Up Basic", new_user_registration_path(plan: @basic_plan.id), class:'btn btn-primary btn-lg btn-block' %>
        </div>    
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for the pro accopunt $10/month and get all access!</h4>
            <br/>
            <%= link_to "Sign Up Pro", new_user_registration_path(plan: @pro_plan.id), class:'btn btn-success btn-lg btn-block' %>
        </div>    
    </div>
</div>